@font-face {
  font-family: "Effra";
  src: local("Effra Medium"), local("Effra-Medium"), url("../fonts/Effra-Medium.woff2") format("woff2"), url("../fonts/Effra-Medium.woff") format("woff"), url("../fonts/Effra-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Effra";
  src: local("Effra Regular"), local("Effra-Regular"), url("../fonts/Effra.woff2") format("woff2"), url("../fonts/Effra.woff") format("woff"), url("../fonts/Effra.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Effra";
  src: local("Effra Heavy"), local("Effra-Heavy"), url("../fonts/Effra-Heavy.woff2") format("woff2"), url("../fonts/Effra-Heavy.woff") format("woff"), url("../fonts/Effra-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Effra";
  src: local("Effra Bold"), local("Effra-Bold"), url("../fonts/Effra-Bold.woff2") format("woff2"), url("../fonts/Effra-Bold.woff") format("woff"), url("../fonts/Effra-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Effra", sans-serif;
  font-size: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-reset {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.primary-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.1875;
  text-align: center;
  margin-bottom: 80px;
}
@media screen and (max-width: 1440px) {
  .primary-title {
    font-weight: 900;
    font-size: 50px;
    line-height: 1.28;
  }
}
@media screen and (max-width: 1080px) {
  .primary-title {
    font-weight: 900;
    font-size: 36px;
    line-height: 1.1944444444;
  }
}

.partners {
  padding: 140px;
  margin: 0 auto;
  max-width: 1354px;
}
@media screen and (max-width: 1440px) {
  .partners {
    padding: 90px;
  }
}
@media screen and (max-width: 1080px) {
  .partners {
    padding: 20px;
  }
}
.partners__list {
  margin: 0 auto;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}
@media screen and (max-width: 1440px) {
  .partners__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1080px) {
  .partners__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media screen and (max-width: 465px) {
  .partners__list {
    grid-template-columns: 1fr;
  }
}
.partners__item {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f5f5f5;
  border-radius: 8px;
}

.subscription {
  padding: 140px 30px;
  background-color: black;
}
.subscription__title {
  color: #ffffff;
}
.subscription__types {
  max-width: 1160px;
  margin: 0 auto;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
@media screen and (max-width: 1065px) {
  .subscription__types {
    grid-template-rows: 640px 640px;
    grid-template-columns: repeat(2, 360px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 825px) {
  .subscription__types {
    grid-template-rows: repeat(2, 602px);
    grid-template-columns: minmax(1px, 339px);
    gap: 24px;
  }
}

.type {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  background: #fafafa;
  border-radius: 16px;
  padding: 32px;
}
.type__top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 32px;
}
.type__title {
  font-size: 36px;
  line-height: 100%;
  margin-bottom: 8px;
}
@media screen and (max-width: 825px) {
  .type__title {
    font-size: 32px;
  }
}
.type__subtitle {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 100%;
}
.type__price {
  font-size: 64px;
  line-height: 100%;
  font-weight: 700;
}
@media screen and (max-width: 825px) {
  .type__price {
    font-size: 60px;
  }
}
.type__duration {
  font-size: 18px;
  line-height: 100%;
}
.type__value {
  margin-bottom: 32px;
}
.type:nth-child(2) {
  background: #a8ff35;
}
.type:nth-child(2) button {
  background: #000000;
  color: #ffffff;
}
.type__button {
  background: #a8ff35;
  border-radius: 29px;
  width: 100%;
  padding: 16px 0;
}

.includes {
  list-style: none;
  margin-bottom: 40px;
}
.includes__item {
  font-size: 18px;
  line-height: 100%;
  padding: 0 0 0 27px;
  background: url(./images/list-mark.png) left 5px no-repeat;
}
.includes__item:not(:last-child) {
  margin-bottom: 24px;
}

.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
}
.toggle input {
  position: relative;
  -webkit-appearance: none;
  background: #ffffff;
  border-radius: 99px;
  width: 105px;
  height: 50px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 825px) {
  .toggle input {
    height: 44px;
  }
}
.toggle input::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  left: 8px;
  top: 8px;
  background: #a8ff35;
  border-radius: 99px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 825px) {
  .toggle input::before {
    width: 28px;
    height: 28px;
  }
}
.toggle input:checked::before {
  left: 61px;
}
.toggle span {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2083333333;
}
@media screen and (max-width: 825px) {
  .toggle span {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2222222222;
  }
}
.toggle__left {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.toggle__right {
  opacity: 0.5;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.toggle.active > .toggle__left {
  opacity: 0.5;
}

.toggle.active > .toggle__right {
  opacity: 1;
}/*# sourceMappingURL=styles.css.map */