@font-face {
  font-family: 'Effra';
  src: local('Effra Medium'), local('Effra-Medium'),
    url('../fonts/Effra-Medium.woff2') format('woff2'),
    url('../fonts/Effra-Medium.woff') format('woff'),
    url('../fonts/Effra-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
