@import './fonts.scss';
@import './mixins.scss';
@import './settings.scss';
@import './vars.scss';

//components

@import './components/partners.scss';
@import './components/examples.scss';
@import './components/subscription.scss';
@import './components/footer.scss';
