.examples {
  display: flex;
  flex-direction: column;
  padding: 140px;
  background-color: #fafafa;
  &__title {
    margin: 0px 0px 80px 0px;
  }

  &__btn {
    background: #000000;
    color: #ffffff;
    font-weight: 700;
    line-height: 140%;
    border-radius: 40px;
    padding: 16px 32px;
    align-self: center;
    &:hover,
    &:active {
      background: #2b2b2b;
    }
  }
  @media screen and (max-width: 1200px) {
    padding: 70px;
  }
  @media screen and (max-width: 930px) {
    padding: 50px 18px;
  }
}

.nav {
  margin: 0px 0px 75px 0px;
  display: flex;
  list-style: none;
  gap: 24px;
  justify-content: center;
  &__btn {
    transition: 0.2s;
    padding: 32px;
    background: #ffffff;
    border-radius: 8px;
    &.active {
      background-color: #a8ff35;
    }
    &:hover,
    &:active {
      transform: translateY(-5px);
    }
    @media screen and (max-width: 1200px) {
      padding: 16px;
    }
  }
  &__img {
    @media screen and (max-width: 930px) {
      width: 30px;
      height: 30px;
    }
  }

  &__item {
    @media screen and (max-width: 930px) {
      display: block;
      width: 62px;
      &:not(:last-child) {
        margin-right: 24px;
      }
    }
  }
  &-wrapper {
  }

  @media screen and (max-width: 930px) {
    gap: 0;
    overflow-x: auto;
    overflow-y: hidden;
  }
  @media screen and (max-width: 734px) {
    justify-content: start;
  }
}

.tabs {
  margin: 0px 0px 95px 0px;
  &__img {
    text-align: center;
    @media screen and (max-width: 930px) {
      max-width: 930px;
    }
  }
  &__content-item {
    display: none;
    @media screen and (max-width: 930px) {
      max-width: 930px;
    }
    &.active {
      display: flex;
      justify-content: center;
    }
  }
}
