.footer {
  padding: 30px 80px;
  @media screen and (max-width: 910px) {
    padding: 30px 5px;
  }

  &__logo {
    @media screen and (max-width: 910px) {
      margin-bottom: 80px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 910px) {
      display: block;
      text-align: center;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    @media screen and (max-width: 910px) {
      display: block;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-right: 40px;

      @media screen and (max-width: 910px) {
        margin-right: 0;
        margin-bottom: 40px;
      }
    }
  }

  &__link {
    color: black;
    text-decoration: none;
  }
}
