.partners {
  &__list {
    list-style: none;
    display: grid;
  }
  &__item-1 {
    font-size: 50px;
    margin-bottom: 50px;
    font-family: 'Effra';
  }

  &__item {
    font-size: 50px;
    margin-bottom: 50px;
  }
}
