.subscription {
  padding: 140px 30px;
  background-color: black;
  &__title {
    color: #ffffff;
  }

  &__types {
    max-width: 1160px;

    margin: 0 auto;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    @media screen and (max-width: 1065px) {
      grid-template-rows: 640px 640px;
      grid-template-columns: repeat(2, 360px);
      justify-content: center;
    }
    @media screen and (max-width: 825px) {
      grid-template-rows: repeat(2, 602px);
      grid-template-columns: minmax(1px, 339px);
      gap: 24px;
    }
  }
}

.type {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  background: #fafafa;
  border-radius: 16px;
  padding: 32px;

  &__top {
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
    margin-bottom: 32px;
  }

  &__title {
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 8px;
    @media screen and (max-width: 825px) {
      font-size: 32px;
    }
  }

  &__subtitle {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 100%;
  }

  &__price {
    font-size: 64px;
    line-height: 100%;
    font-weight: 700;
    @media screen and (max-width: 825px) {
      font-size: 60px;
    }
  }

  &__duration {
    font-size: 18px;
    line-height: 100%;
  }

  &__value {
    margin-bottom: 32px;
  }

  &:nth-child(2) {
    background: #a8ff35;
  }
  &:nth-child(2) button {
    background: #000000;
    color: #ffffff;

    &:hover,
    &:focus {
      background: #2b2b2b;
    }
  }

  &__button {
    background: #a8ff35;
    border-radius: 29px;
    width: 100%;
    padding: 16px 0;
    transition: 0.2s;
    &:hover,
    &:focus {
      background-color: #8cc83a;
    }
  }
}

.includes {
  list-style: none;
  margin-bottom: 40px;

  &__item {
    font-size: 18px;
    line-height: 100%;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
    padding: 0 0 0 27px;

    background: url(../images/list-mark.png) left 5px no-repeat;
  }
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 24px;
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
  & input {
    position: relative;
    -webkit-appearance: none;
    background: #ffffff;
    border-radius: 99px;
    width: 105px;
    height: 50px;
    transition: 0.5s;
    @media screen and (max-width: 825px) {
      height: 44px;
    }
    &::before {
      content: '';
      position: absolute;
      width: 36px;
      height: 36px;
      left: 8px;
      top: 8px;
      background: #a8ff35;
      border-radius: 99px;
      transition: 0.5s;
      @media screen and (max-width: 825px) {
        width: 28px;
        height: 28px;
      }
    }
    &:checked::before {
      left: 61px;
    }
  }
  & span {
    @include fontMax(500, 24px, 29em, 24em);
    @media screen and (max-width: 825px) {
      @include fontMax(500, 18px, 22em, 18em);
    }
  }

  &__left {
    transition: 0.5s;
  }

  &__right {
    opacity: 0.5;
    transition: 0.5s;
  }
}

.toggle.active > .toggle__left {
  opacity: 0.5;
}

.toggle.active > .toggle__right {
  opacity: 1;
}
